.videos {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navbar {
  color: white;
  background-color: black;
}

.search_form {
  display: inline-block;
}
.search_text {
  margin: 5px;
}
svg {
  font-size: 20px;
}
