* {
  box-sizing: border-box;
}

.video {
  display: flex;
  align-items: center;
  border: 3px solid lightgray;
  width: 50%;
  margin-bottom: 0.2em;
  cursor: pointer;
  transition: transform 250ms ease-in;
  box-shadow: 33px 9px 11px 13px rgba(0, 0, 0, 0.74);
}
.video:hover {
  transform: scale(1.03);
}
.thumbnail {
  width: 40%;
}
.title,
.channel {
  margin: 0;
}

.channel {
  font-size: 0.9rem;
}
